.logo{
    display: block;

    &:hover{
        opacity: 0.8;
    }

    &:active{
        opacity: 0.6;
    }
}

.logo__desktop{
    min-width: 103px;
    min-height: 56px;
}

.logo__desktop-img{
    display: block;
}

.logo__tabs{
    display: none;
}

.logo__tabs-img{
    min-width: 140px;
    min-height: 21px;
    display: block;
}

@media only screen and (max-width: 1024px){
    .logo__tabs{
        display: inline-block;
        margin-right: 40px;
    }
}