.services__container{
    padding-top: 70px;
    padding-bottom: 35px;
}

.services__carousel-wrapper{
    position: relative;
    padding-left: 66px;
    padding-right: 66px;
}

.services__list{
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: hidden;
}

.services__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    min-height: 240px;
    padding-top: 29px;
    padding-bottom: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.services__item + .services__item{
    margin-left: 35px;
} 

.services__item--dental{
    padding-left: 60px;
    padding-right: 60px;
}

.services__item--hygiene{
    padding-left: 57px;
    padding-right: 66px;
}

.services__item--diagnostics{
    padding-left: 52px;
    padding-right: 53px;
}

.services__item--children{
    padding-left: 59px;
    padding-right: 59px;
}

.services__title{
    margin-top: 0px;
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $heading-color;
    
    &::before{
        content: "";
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 14px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    
    &::after{
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background-color: $blue-color;
        margin-left: auto;
        margin-right: auto;
    }
}

.services__item--dental .services__title{
    
    &::before{
        min-width: 69px;
        min-height: 68px;
        background-image: url("../img/dental.jpg");
    }
    
    &::after{
        margin-top: 12px;
    }
}

.services__item--hygiene .services__title{
    
    &::before{
        min-width: 77px;
        min-height: 66px;
        background-image: url("../img/hygiene.jpg");
    }
    
    &::after{
        margin-top: 33px;
    }
}

.services__item--diagnostics .services__title{
    
    &::before{
        min-width: 66px;
        min-height: 66px;
        background-image: url("../img/diagnostics.jpg");
    }
    
    &::after{
        margin-top: 33px;
    }
}

.services__item--children .services__title{
    
    &::before{
        min-width: 73px;
        min-height: 62px;
        background-image: url("../img/children.jpg");
    }
    
    &::after{
        margin-top: 12px;
    }
}

.services__toggle{
    position: absolute;
    width: 42px;
    height: 49px;
    border: 2px solid #1D6ECB;
    border-radius: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.services__toggle-previous{
    background-image: url("../img/prev-button.svg");
    padding: 14px 12px 14px 15px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.services__toggle-next{
    background-image: url("../img/next-button.svg");
    padding: 14px 15px 14px 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.services__price{
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through; 
    color: rgba(0, 0, 0, 0.25);
    text-align: center;
}

.services__sale{
    margin: 0;
    text-align: center;
    font-weight: 500;
    line-height: 21px;
    color: $blue-color;
}

@media only screen and (max-width: 600px){
    .services__carousel-wrapper{
        padding-left: 0px;
        padding-right: 0px;
    }

    .services__toggle{
        display: none;
    }
}
