.site-header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    white-space: nowrap;
}

.site-header__container{
    padding-top: 12px;
    padding-bottom: 56px;
}

.site-header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Contacts */
.site-header__contacts{
    &:hover{
        opacity: 0.8;
    }

    &:active{
        opacity: 0.6;
    }
}

.site-header__contacts-title{
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $heading-color;
}

.site-header__contacts-tel{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $heading-color;
    text-decoration: none;
    
    &::before{
        content: "";
        flex-shrink: 0;
        margin-right: 7px;
        width: 29px;
        height: 29px;
        background-image: url("../img/phone.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
}

/* Schedule */
.site-header__schedule{
    display: flex;
    align-items: center;
    
    &::before{
        content: "";
        flex-shrink: 0;
        margin-right: 7px;
        width: 29px;
        height: 29px;
        background-image: url("../img/clock.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.site-header__schedule-title{
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #00B007;
}

.site-header__schedule-time{
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $heading-color;
}

.site-header__schedule-wrapper time{
    display: inline-block;
    vertical-align: baseline;
}

.site-header__toggle{
    display: none;
    min-width: 25px;
    min-height: 18px;
    background-color: transparent;
    background-image: url("../img/gamburger.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: none;
}

@media only screen and (max-width: 1024px){
    .site-header{
        padding: 20px 13px 20px 10px;
    }

    .site-header__container{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .site-header__top{
        display: none;
    }

    .site-header{
        background-color: $blue-color;
    }

    .site-header__sitenav-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 830px){
    .site-header{
        padding: 26px 13px 21px 10px;
    }

    .site-header__toggle{
        display: block;
    }

    .site-header--open .site-header__toggle{
        min-width: 22px;
        min-height: 20px;
        background-image: url("../img/close.svg");
    }
}